.wrapper {
  width: 100vw;
  margin-top: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 12px;
}

p {
  text-align: center;
  font-size: 30px;
}

a {
  text-align: center;
  font-size: 28px;
}