.wrapper {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 12px;
}

.offerCompany {
  font-size: 23px;
  font-weight: 400;
  padding-bottom: 12px;
  border-bottom: 1px solid #F1F1F1;
}

.body {
  padding-top: 12px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.offerDate {
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
}

.offerAmount {
  font-size: 23px;
  font-weight: 400;
  text-transform: uppercase;
}