@import "/src/styles/mixins";

.overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  background: rgba(18, 18, 25, 0.90);
  opacity: 0;
  transition: all .5s ease;
  pointer-events: none;
}

.modal {
  position: relative;
  width: 60%;
  height: fit-content;
  max-height: 80%;
  overflow: visible;
  border-radius: 10px;
  border: 2px solid #FFF;
  background: #171723;
  @include mobile() {
    width: 90%;
  }
}

.modalInner {
  flex-direction: column;
  align-items: center;
  padding: 84px 10% 100px 10%;
  overflow-y: scroll;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  @include mobileMiddle() {
    padding: 84px 10px 30px 10px;
  }
}

.modalLogo {
  position: absolute;
  width: 132px;
  height: 132px;
  top: -66px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.modalLogoTextUpper {
  color: #00ECBE;
  text-transform: uppercase;
  font-family: 'Nokora', sans-serif;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 22.5px;
  margin-right: -22.5px;
}

.modalLogoTextLower {
  text-transform: uppercase;
  font-family: 'Nokora', sans-serif;
  font-size: 25px;
  font-weight: 400;
  line-height: 31.419px;
  letter-spacing: 5.375px;
  margin-right: -5.375px;
}

.child {
  margin-top: 50px;
}