@import "../../styles/mixins";
@import "../../styles/colors";

.wrapper {
  width: 100%;
  position: fixed;
  display: flex;
  height: 75px;
  align-items: center;
  justify-content: space-between;
  top: 0;
  left: 0;
  z-index: 1000;
  border-radius: 0 0 10px 10px;
  border-color: $color-app-mark;
  border-style: solid;
  border-width: 0 0 1px 0;
  background: $color-app-mark;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
  padding: 0 120px;
  @include tablet() {
    padding: 0 40px;
  }
  @include mobile() {
    padding: 0 15px;
    flex-direction: row-reverse;
  }
}

.logoWrapper {
  cursor: pointer;
  display: flex;
  align-items: center;
  column-gap: 15px;
  text-decoration: none;
}
