.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.title {
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 700;
  padding-left: 24px;
  display: flex;
  align-items: center;
  height: 100px;
  color: #534545;
}

.reportsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  border-radius: 16px;
  background: #F1F1F1;
  padding: 24px 32px;
}

.reportItem {
  background: #FFFFFF;
  border-radius: 16px;
  padding: 8px 12px;
}

.reportsTitle {
  font-size: 23px;
  font-weight: 400;
}