@import "../../styles/colors";

/* Base styles for desktop */
.footerWrapper {
  width: 100%;
  background: $color-app-black;
  border-radius: 10px 10px 0 0;
  border-top: 2px solid $color-app-black;
  padding: 5px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertically center the content */
}

.contactTg {
  cursor: pointer;
  transition: all 0.2s ease-out;
}

.contactTg:hover {
  transform: scale(1.10);
}

.contactTg:hover svg path {
  fill: $color-app-mark;
}

.contactEmail {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  transition: all 0.2s ease-out;
  cursor: default;
  color: $color-app-white;
}

.contactEmail:hover {
  color: $color-app-mark
}

/* Media query for smaller mobile devices - 576px */
@media (max-width: 576px) {
  .footerWrapper {
    padding: 15px;
  }

  .contactsBlock {
    flex-direction: column;
    margin-top: 20px;
    column-gap: 0;
    align-items: center;
  }

  .contactTg {
    margin-top: 10px;
  }
}

/* Media query for mobile devices - 768px */
@media (max-width: 768px) {
  .contactsBlock {
    justify-content: center;
  }
}
