@import "styles/mixins";

* {
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
  color: #FFFFFF;
}

.wrapper {
  background: #171723;
  display: flex;
  flex-direction: column;
  margin-top: 90px;
  @include mobileMiddle() {
    margin-top: 40px;
  }
}